
<div class="box">
<div *ngIf="!isTrue">
<input type="text" placeholder="your name" [(ngModel)]="name">
<select name="" id="" [(ngModel)]="room">
    <option value="web">web</option>
    <option value="mobile">mobile</option>
</select>
<button (click)="enter()">enter</button>
</div>

<div *ngIf="isTrue">
    <h1>{{joineeName}}</h1>
    <div class="card">
    <div *ngFor="let item of messageArray">
        <h4><span>{{item.user}} ::</span>{{item.message}}</h4>
    </div>  
</div>
    <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()"  />
<button (click)="sendMessage()">Send Message</button>
</div>
</div>